.luz {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blueviolet;
}

.traffic-light {
    background-color: black;
    padding: 10px;
    display: inline-block;
    margin: auto;
}

.roja {background: red;}
.amarilla {background: yellow;}
.verde {background: green;}

.brilla {box-shadow: 0px 0px 9px 4px white;}